<html>
    <head>
        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
            window.OneSignal = window.OneSignal || [];
            OneSignal.push(function() {
                OneSignal.init({
                    appId: "b5f36801-2f25-4149-ad77-4d3c6a10b28b",
                });
            });
          </script>
    </head>
    <body>
        Hello
    </body>
</html>